body {
  padding-top: 92px;
  scroll-margin-top: 92px;
  scroll-behavior: smooth;
  font-family: 'Roboto Serif', serif;
}

nav * {
  color: var(--bs-success-text-emphasis)!important;
}

.navbar .nav-item .nav-link:hover {
  background-color: var(--bs-light);
}

.max-width-limit {
  width: 100%;
  max-width: 720px;
  margin: auto;
}

#contact, #hero-message {
  max-width: 720px;
}

@media (max-width: 575px) {
  #journey-schedule-table {
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  #logo-image {
    height: 43px;
    width: 43px;
  }
}

